<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"><!-- Required meta tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/CSS/Cart_CSS.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Home_CSS.css" />
    <title><%= title %></title>
</head>
<body id="body-start">
<%- include("./partials/header") -%>
    <div class="container">
        <h2><%= title %></h2>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% cart.forEach(function (cart) { %>
                    <% for (let i = 0; i < cart.artNames.length; i++) { %>
                        <% artDetails.forEach(function (artDetails) { %>
                        <% if (artDetails.artName == cart.artNames[i]) { %>
                            <tr>
                                <td><img class="image" src="public/Images/Art/<%= artDetails.artImage %>" alt="<%= artDetails.artName %>" /></td>
                                <td><%= artDetails.artName %></td>
                                <td><%= artDetails.artistName %></td>
                                <td><%= artDetails.cost %></td>
                                <td><a class="btn btn-sm btn-danger" href="/removeArt/<%= artDetails.artName %>">Delete</a></td>
                            </tr>
                        <% } %>
                    <% }); %>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
    <link rel="stylesheet" href="../public/CSS/cart.css">
    <link rel="stylesheet" href="../public/CSS/style.css">
<%- include("./partials/footer") -%>