<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <link rel="stylesheet" href="../public/CSS/Profile_CSS.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../public/CSS/Home_CSS.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    
    <body id="body-start">
        <%- include("./partials/header") -%>
        <!-- profile start -->
        <div class="containerProfile">
            <div class="cover-photo">
                <img src="/public/Images/Profile/<%=userDetails.userImage%>" class="profile-photo">
            </div>
            
            <div class="profile-name"><%=userDetails.username%></div>
            
            <div class="description" id="description">
                <div id="aboutMe">
                    <% if(userDetails.aboutMe.length == 0)
                    { %>
                        <p class="about"> User is too shy </p>
                    <%
                    }
                    else
                    { %>
                        <p class="about"> <%=userDetails.aboutMe%></p>
                    <%
                    } %>
                </div>
                <div id="credentials">
                    <p class="about"> 
                        Full Name: <%=userDetails.userFirstName + " " + userDetails.userLastName%> <br/><br/>
                        Email: <%=userDetails.userEmail %> <br/><br/>
                        Gender: <%=userDetails.userGender%> <br/><br/>
                        Location: <%=userDetails.userLocation%>
                    </p>
                </div>
            </div>
            
            <button type="button" class="profBtn" id="btn1" data-target="aboutMe">About Me</button>
            <button type="button" class="profBtn" id="btn2" data-target="credentials">Credentials</button>
        </div>
        <!-- profile end -->
    <%- include("./partials/footer") -%>
    <script type="text/javascript" src="../public/Javascript/ProfileJS.js"></script>
    
</html>
